.fnbtn{
	position: relative;
	top: 2px;
	color: #333;
}


.fn-popup{ 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    width:200px;  
    background:#FFFFFF;  
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  
    
    /* additional features, can be omitted */
    border:2px solid #dfdfdf;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #636363;
    -webkit-box-shadow: 0 0 5px #636363;
    box-shadow: 0 0 5px #636363;
    
}

#footNotePopupHeader {
    width: 100%;
}

#footNotePopupFooter {
    height: 32px;
    padding: 20px 20px 0 20px;
}
#footNotePopupTitle {
    color: #252525;
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 10px;
}

#footNotePopupDescription {
    color: #252525;
    font-family: "Noto Sans";
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 10px;
    white-space: normal;
}

#fnAdd  {
    min-width: 50px;
    color: #FFFFFF;
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

#fnCancel {
    min-width: 44px;
    color: #0680FC;
    font-family: "Noto Sans";
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    font-weight: normal;
    float:  right;
    margin-right: 10px;
}
