.fnbtn{
	position: relative;
	top: 2px;
    color: #333;
    width: 8px;
    height: 8px;
    background-image: url("data:image/svg+xml, %3Csvg height='8' viewBox='0 0 512 512' width='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='gray' d='M478.21%20334.093L336%20256l142.21-78.093c11.795-6.477%2015.961-21.384%209.232-33.037l-19.48-33.741c-6.728-11.653-21.72-15.499-33.227-8.523L296%20186.718l3.475-162.204C299.763%2011.061%20288.937%200%20275.48%200h-38.96c-13.456%200-24.283%2011.061-23.994%2024.514L216%20186.718%2077.265%20102.607c-11.506-6.976-26.499-3.13-33.227%208.523l-19.48%2033.741c-6.728%2011.653-2.562%2026.56%209.233%2033.037L176%20256%2033.79%20334.093c-11.795%206.477-15.961%2021.384-9.232%2033.037l19.48%2033.741c6.728%2011.653%2021.721%2015.499%2033.227%208.523L216%20325.282l-3.475%20162.204C212.237%20500.939%20223.064%20512%20236.52%20512h38.961c13.456%200%2024.283-11.061%2023.995-24.514L296%20325.282l138.735%2084.111c11.506%206.976%2026.499%203.13%2033.227-8.523l19.48-33.741c6.728-11.653%202.563-26.559-9.232-33.036z'/%3E%3C/svg%3E");
}

#footNotePopupFooter {
    padding-top: 20px;
}
