
<div id="footNotePopup" class="fn-popup popup popup-content" style="display: none;">
    <div id="footNotePopupHeader">
        <h2 data-l10n-id="ep_foot_note.title">Add a footnote</h2>
        <div id="footNotePopupDescription">
            <span data-l10n-id="ep_foot_note.description">Footnotes can include anything from a citation to parenthetical information, outside sources, copyright permissions, background information. The selected text will receive a number which will refer to the explanation on the bottom of the topic.</span>
        </div>
    </div>
    <div>
        <input id="fnInput" type="text" data-l10-id="ep_foot_note.input_placeholder"/>
    </div>
    <div id="footNotePopupFooter">
        <button type="button" class="btn btn-primary" id="fnAdd" data-l10-id="ep_foot_note.btn_submit">Submit</button>
        <button type="button" class="btn btn-default" data-l10-id="ep_foot_note.btn_cancel" id="fnCancel">Cancel</button>
    </div>
</div>